a:link {
	color: rgb(56, 205, 255);
	text-decoration: underline;
}
a:visited {
	color: rgb(180, 180, 180);
	text-decoration: underline;
}
a:hover {
	color: rgb(152, 99, 203);
	text-decoration: underline;
}
a:active {
	color: rgb(255, 88, 88);
	background-color: transparent;
	text-decoration: underline;
}

body {
	background-color: rgb(40, 40, 40);
	color: rgb(237, 237, 237);
	text-align: center;
	font-family: "DM Sans";
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 75px;
}

.textbody {
	text-align: left;
}

.bigtext {
	font-size: 2rem;
}

.textbtn {
	background-color: rgb(100, 100, 100);
	width: 400px;
	height: 200px;
	padding: 10px;
	margin: 2px;
	border-radius: 5px;
	border: none;
	color: rgb(255, 255, 255);

	vertical-align: middle;
	text-align: center;
}

.imagebtn {
	background-color: rgb(100, 100, 100);
	width: fit-content;
	height: 200px;
	padding: 10px;
	margin: 2px;
	border-radius: 5px;
	border: none;
	color: rgb(255, 255, 255);

	vertical-align: middle;
	text-align: center;
}
.imagebtn:hover {
	background-color: rgb(150, 150, 150);
	transition-duration: 0.5s;
}